.bannerScroll {
  margin: 100px 0;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(90deg, #161d58 50%, #2f648e 100%);
  min-height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.scrollContent {
  display: flex;
  gap: 4rem; /* equal space between items */
  width: max-content;
  animation: bannerScrollAnim 28s linear infinite;
}

.scrollItem {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  white-space: nowrap;

  /* gradient text */
  background: linear-gradient(90deg, #A3CAF5, #E7F6FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.scrollItem .dot {
  margin: 0 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(90deg, #EDFFF4, #A6EAC7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}


@keyframes bannerScrollAnim {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 575px) {
  .bannerScroll {
    margin: 40px 0;
  }
  .scrollItem {
    font-size: 1rem;
    line-height: 40px;
  }
}
